# Global Food Prices

Understanding how xxxxx



___________________________________________
Author: Andreia Ferreira Almeida

In [1]:
# Imports
import os
import pandas as pd
import numpy as np


import warnings
warnings.filterwarnings('ignore')

### Loading data

In [2]:
proj_dir = os.path.dirname(os.path.abspath("wfp_market_food_prices.csv"))
data = os.path.join(proj_dir, "wfp_market_food_prices.csv")
print(data)

C:\reps\kaggel_tests\wfp_market_food_prices.csv

In [3]:
#Loading Data
gfp = pd.read_csv(data, engine='python')
gfp.head() # historico do pre√ßo p localidade p o produto durante 5 meses

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,1,2014,50.0,WFP
1,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,2,2014,50.0,WFP
2,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,3,2014,50.0,WFP
3,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,4,2014,50.0,WFP
4,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,5,2014,50.0,WFP

cm_id = (comodity_purchase) - id do produto

In [4]:
gfp.shape

(743914, 18)

### Data Treating

In [5]:
#renameming cols
gfp.columns = ['country_id', 'country_name', 'locality_id', 'locality_name', 'market_id', 'market_name', 'commodity_purchase_id', 'commodity_purchased', 'currency_id', 'currency', 'market_type_id', 'market_type', 'measurement_id', 'unit_of_goods_measurement', 'month_recorded', 'year_recorded','mp_price:_price_paid', 'source_supplying_price_information']
gfp.columns = [x.upper() for x in gfp.columns] #inputing_uppercase

In [6]:
#creating a list only with id cols
id_final = [col for col in gfp.columns if col.endswith('_ID')] #removing_id_cols#1
#droping id's col since doesnt add nothing to the analysis
gfp.drop(id_final, axis=1, inplace=True)#2
gfp.rename(columns={'MARKET_TYPE':'VENDOR_TYPE'}, inplace=True)
gfp.rename(columns={'MARKET_NAME':'MARKET_SHOPS'}, inplace=True)

In [7]:
gfp.head()

,COUNTRY_NAME,LOCALITY_NAME,MARKET_SHOPS,COMMODITY_PURCHASED,CURRENCY,VENDOR_TYPE,UNIT_OF_GOODS_MEASUREMENT,MONTH_RECORDED,YEAR_RECORDED,MP_PRICE:_PRICE_PAID,SOURCE_SUPPLYING_PRICE_INFORMATION
0,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,1,2014,50.0,WFP
1,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,2,2014,50.0,WFP
2,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,3,2014,50.0,WFP
3,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,4,2014,50.0,WFP
4,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,5,2014,50.0,WFP

In [9]:
# create dataframe without year, month and price, to obtain one entry for each different shop
gfp_unique_shop = gfp[['COUNTRY_NAME','LOCALITY_NAME','MARKET_SHOPS','VENDOR_TYPE', 'COMMODITY_PURCHASED', 'CURRENCY']]
gfp_unique_shop.head()
initialSize = gfp_unique_shop.shape[0]
print("initial dataset size", initialSize)
gfp_unique_shop.drop_duplicates(inplace=True) # cair as colunas para poder analisar mercado √∫nico por pa√≠s (mercados totais por pais)
gfp_unique_shop.reset_index(inplace=True, drop=True) #ap√≥s drop_duplicates always do a reset
finalSize = gfp_unique_shop.shape[0]
print("final dataset size", finalSize)

initial dataset size 743914
final dataset size 16256

In [10]:
# renaming col in order to not misunderstand
gfp_unique_shop.rename(columns={'MARKET_NAME':'MARKET_SHOPS'}, inplace=True)

In [11]:
list_all_countries = gfp_unique_shop.groupby(by='COUNTRY_NAME')['COUNTRY_NAME'].nunique()
print( '[COUNTRIES] Total Contries in the df', len(list_all_countries))

[COUNTRIES] Total Contries in the df 74

In [12]:
list_all_markets = gfp_unique_shop.groupby(by='MARKET_SHOPS')['MARKET_SHOPS'].nunique()
print('[MARKETS] Total markets in the df', len(list_all_markets))

[MARKETS] Total markets in the df 1449

In [14]:
#TOTAL DE LOJAS EM QUE O NOME DA LOJA √â IGUAL √Ä LOCALIDADE
df_teste = gfp_unique_shop.loc[gfp_unique_shop['LOCALITY_NAME'] == gfp_unique_shop['MARKET_SHOPS']]

In [15]:
#df groupby object, para passar p df, utiliza-se a fun√ß√£o: .apply(list)
df_teste_COUNTRY_2 = df_teste.groupby('COUNTRY_NAME').MARKET_SHOPS.apply(list)

In [16]:
df_teste_COUNTRY_2 = df_teste_COUNTRY_2.to_frame()

In [17]:
type(df_teste_COUNTRY_2)

pandas.core.frame.DataFrame

In [18]:
# listagem de todas as lojas diferentes em cada pa√≠s
df_teste_COUNTRY_2['COUNT_SHOPS_C'] = df_teste_COUNTRY_2['MARKET_SHOPS'].str.len()

In [22]:
#tipos de comercio distinto
df_types_shop = gfp.VENDOR_TYPE.unique()

In [23]:
# type numpy.ndarray
print(df_types_shop)

['Retail' 'Wholesale' 'Producer' 'Farm Gate']

In [24]:
#passing numpy.ndarray to a df
df_unique_type_markets = pd.DataFrame(data=df_types_shop)    # values

In [25]:
#inputing names in the cols
df_unique_type_markets = df_unique_type_markets.rename(columns = {df_unique_type_markets.columns[0]:'VENDER_TYPE'})
#, df_unique_type_markets.columns[1]:'MARKET_TYPES'

In [26]:
df_unique_type_markets.head()

  VENDER_TYPE
0      Retail
1   Wholesale
2    Producer
3   Farm Gate

In [30]:
#mercados unicos por pa√≠s
mercados_seleccionados = gfp[['COUNTRY_NAME', 'LOCALITY_NAME', 'MARKET_SHOPS']]
mercados_agrupados = mercados_seleccionados.groupby(['COUNTRY_NAME','MARKET_SHOPS']).nunique()
mercados_agrupados = mercados_agrupados.drop(['LOCALITY_NAME', 'MARKET_SHOPS', 'COUNTRY_NAME'], axis=1)
mercados_agrupados = mercados_agrupados.reset_index() #reseting index para poder usar a coluna country_name
mercados_unicos = mercados_agrupados.groupby('COUNTRY_NAME')['MARKET_SHOPS'].count()
mercados_unicos = mercados_unicos.to_frame()
mercados_unicos.head()

              MARKET_SHOPS
COUNTRY_NAME
Afghanistan             11
Algeria                  7
Armenia                  6
Azerbaijan               1
Bangladesh               6

In [32]:
#nr total de produtos comercializados por mercado
df_mercados_dif_pais = df_mercados_pais.copy()
df_mercados_dif_pais = df_mercados_dif_pais.groupby(['COUNTRY_NAME','MARKET_SHOPS']).size().reset_index()
df_mercados_dif_pais.rename(columns={0:'COUNT_COMMODITY'}, inplace=True) 
df_mercados_dif_pais = df_mercados_dif_pais.sort_values(by=['COUNT_COMMODITY'], ascending=False) # after a groupby reset_index
df_mercados_dif_pais = df_mercados_dif_pais.reset_index(drop=True) #do not drop the index in order to keep the countries
df_mercados_dif_pais.head()

  COUNTRY_NAME MARKET_SHOPS  COUNT_COMMODITY
0     Colombia       Bogota               54
1       Rwanda       Byumba               50
2       Rwanda     Kibirizi               49
3       Rwanda    Gikongoro               49
4       Rwanda        Nkora               49

In [33]:
#m√©dia de produtos comercializados
print('m√©dia de produtos comercializados',df_mercados_dif_pais["COUNT_COMMODITY"].mean())

m√©dia de produtos comercializados 11.0

In [34]:
#m√©dia de produtos por pais
media_prod_pais = df_mercados_dif_pais.groupby('COUNTRY_NAME')["COUNT_COMMODITY"].mean()
media_prod_pais = media_prod_pais.sort_values(ascending=False).reset_index()
media_prod_pais.head()

         COUNTRY_NAME  COUNT_COMMODITY
0              Turkey        44.000000
1              Rwanda        40.460317
2  State of Palestine        30.727273
3              Jordan        27.692308
4          Tajikistan        25.333333

In [36]:
#% commodity geral
df = gfp_unique_shop['COMMODITY_PURCHASED'].value_counts()
df

Maize                                            457
Rice (imported)                                  449
Sorghum                                          430
Rice (local)                                     419
Sugar                                            411
Rice                                             382
Wheat flour                                      367
Millet                                           362
Fuel (diesel)                                    337
Groundnuts (shelled)                             279
Eggs                                             269
Maize (white)                                    257
Wheat                                            248
Tomatoes                                         247
Fuel (petrol-gasoline)                           233
Meat (beef)                                      214
Oil (palm)                                       205
Onions                                           202
Beans (niebe)                                    196
Potatoes                                         194
Oil (vegetable)                                  192
Salt                                             188
Lentils                                          187
Cabbage                                          179
Beans (dry)                                      172
Carrots                                          166
Oil (sunflower)                                  155
Beans                                            144
Cassava                                          143
Pasta                                            128
                                                ...
Broccoli                                           3
Potatoes (unica)                                   3
Beans (red, fresh)                                 3
Groundnuts                                         3
Livestock (goat, medium-sized castrated male)      2
Tamarillos/tree tomatoes                           2
Rice (medium grain)                                2
Rice (good quality)                                2
Rice (carolina 2da)                                1
Eggs (imported)                                    1
Meat (chicken, imported)                           1
Tortilla (maize)                                   1
Meat (beef, without bones)                         1
Oil (mixed)                                        1
Beans (sugar)                                      1
Bread (common)                                     1
Groundnuts (paste)                                 1
Maize flour (white)                                1
Meat (chicken, broiler)                            1
Meat (veal)                                        1
Milk (powder, infant formula)                      1
Potatoes (black)                                   1
Chili (green)                                      1
Yam (Abuja)                                        1
Milk (condensed)                                   1
Sorghum (berbere)                                  1
Cotton                                             1
Ghee (natural)                                     1
Cocoa (powder, not sweetened)                      1
Milk (cow, pasteurized)                            1
Name: COMMODITY_PURCHASED, Length: 321, dtype: int64

In [47]:
#vendor geral
df2 = gfp_unique_shop['VENDOR_TYPE'].value_counts()
df2

Retail       15311
Wholesale      918
Farm Gate       14
Producer        13
Name: VENDOR_TYPE, dtype: int64

In [39]:
#nr total de comercio global
df_com_global = gfp.groupby('VENDOR_TYPE').size()
df_com_global.head()

#GFP entrada de um produto repetida por v√°rios meses

VENDOR_TYPE
Farm Gate       664
Producer        228
Retail       688878
Wholesale     54144
dtype: int64

In [40]:
#out_put_analysis
#path_output = os.path.join(proj_dir, 'analysis.csv')
#df_mercados_pais.to_csv(path_output, sep='|', encoding='utf-8')