# Global Food Prices

Understanding how xxxxx



___________________________________________
Author: Andreia Ferreira Almeida

In [18]:
# Imports
import os
import pandas as pd
import numpy as np


import warnings
warnings.filterwarnings('ignore')

### Loading data

In [6]:
proj_dir = os.path.dirname(os.path.abspath("wfp_market_food_prices.csv"))
data = os.path.join(proj_dir, "wfp_market_food_prices.csv")
print(data)

C:\kaggel\kaggel_tests\wfp_market_food_prices.csv

In [7]:
#Loading Data
gfp = pd.read_csv(data, engine='python')
gfp.head()

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,1,2014,50.0,WFP
1,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,2,2014,50.0,WFP
2,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,3,2014,50.0,WFP
3,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,4,2014,50.0,WFP
4,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,5,2014,50.0,WFP

In [88]:
gfp.shape

(743914, 11)

### Data Treating

In [8]:
#renameÂ«ing cols
gfp.columns = ['country_id', 'country_name', 'locality_id', 'locality_name', 'market_id', 'market_name', 'commodity_purchase_id', 'commodity_purchased', 'currency_id', 'name_of_currency', 'market_type_id', 'market_type', 'measurement_id', 'unit_of_goods_measurement', 'month_recorded', 'year_recorded','mp_price:_price_paid', 'source_supplying_price_information']
gfp.columns = [x.upper() for x in gfp.columns]

In [10]:
gfp.head()

,COUNTRY_ID,COUNTRY_NAME,LOCALITY_ID,LOCALITY_NAME,MARKET_ID,MARKET_NAME,COMMODITY_PURCHASE_ID,COMMODITY_PURCHASED,CURRENCY_ID,NAME_OF_CURRENCY,MARKET_TYPE_ID,MARKET_TYPE,MEASUREMENT_ID,UNIT_OF_GOODS_MEASUREMENT,MONTH_RECORDED,YEAR_RECORDED,MP_PRICE:_PRICE_PAID,SOURCE_SUPPLYING_PRICE_INFORMATION
0,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,1,2014,50.0,WFP
1,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,2,2014,50.0,WFP
2,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,3,2014,50.0,WFP
3,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,4,2014,50.0,WFP
4,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,5,2014,50.0,WFP

In [23]:
#droping id cols in order to simplify the data visualization
#id_final = [col if col.endswith('_ID') else None for col in gfp.columns]
#df_without_id = 
#df_without_id = gfp.drop(['COUNTRY_ID','LOCALITY_ID',  ])

id_final = [col for col in gfp.columns if col.endswith('_ID')]

In [24]:
id_final

['COUNTRY_ID',
 'LOCALITY_ID',
 'MARKET_ID',
 'COMMODITY_PURCHASE_ID',
 'CURRENCY_ID',
 'MARKET_TYPE_ID',
 'MEASUREMENT_ID']

In [26]:
gfp.head()

,COUNTRY_ID,COUNTRY_NAME,LOCALITY_ID,LOCALITY_NAME,MARKET_ID,MARKET_NAME,COMMODITY_PURCHASE_ID,COMMODITY_PURCHASED,CURRENCY_ID,NAME_OF_CURRENCY,MARKET_TYPE_ID,MARKET_TYPE,MEASUREMENT_ID,UNIT_OF_GOODS_MEASUREMENT,MONTH_RECORDED,YEAR_RECORDED,MP_PRICE:_PRICE_PAID,SOURCE_SUPPLYING_PRICE_INFORMATION
0,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,1,2014,50.0,WFP
1,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,2,2014,50.0,WFP
2,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,3,2014,50.0,WFP
3,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,4,2014,50.0,WFP
4,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,5,2014,50.0,WFP

In [27]:
gfp.drop(id_final, axis=1, inplace=True) #inputing axis due to the list of cols

In [28]:
gfp.head()

,COUNTRY_NAME,LOCALITY_NAME,MARKET_NAME,COMMODITY_PURCHASED,NAME_OF_CURRENCY,MARKET_TYPE,UNIT_OF_GOODS_MEASUREMENT,MONTH_RECORDED,YEAR_RECORDED,MP_PRICE:_PRICE_PAID,SOURCE_SUPPLYING_PRICE_INFORMATION
0,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,1,2014,50.0,WFP
1,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,2,2014,50.0,WFP
2,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,3,2014,50.0,WFP
3,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,4,2014,50.0,WFP
4,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,5,2014,50.0,WFP

In [68]:
gfp.rename(columns={'MARKET_NAME':'MARKET_SHOPS'}, inplace=True) # renaming col in order to not misunderstand

In [69]:
list_all_countries = gfp.groupby(by='COUNTRY_NAME')['COUNTRY_NAME'].nunique()
print( '[COUNTRIES] Total Contries in the df', len(list_all_countries))

[COUNTRIES] Total Contries in the df 74

In [70]:
list_all_products = gfp.groupby(by='COMMODITY_PURCHASED')['COMMODITY_PURCHASED'].nunique()
print('[PRODUCTS] Total products in the df', len(list_all_products))

[PRODUCTS] Total products in the df 321

In [72]:
list_all_markets = gfp.groupby(by='MARKET_SHOPS')['MARKET_SHOPS'].nunique()
print('[MARKETS] Total markets in the df', len(list_all_markets))

[MARKETS] Total markets in the df 1449

In [142]:
markets_all_country = gfp.groupby(by='MARKET_SHOPS')['MARKET_SHOPS'].count()
markets_all_country = markets_all_country.to_frame()
markets_all_country = markets_all_country.rename(columns={markets_all_country.columns[0]: 'COUNT'})
markets_all_country.head()

              COUNT
MARKET_SHOPS
Aba             172
Abaala           14
Abala           284
Abalak          449
Abeche          347

In [143]:
markets_all_country.head()
markets_all_country.sort_values(by='COUNT', ascending=False, inplace=True)
markets_all_country.reset_index(inplace=True)
markets_all_country.head()

       MARKET_SHOPS  COUNT
0  National Average  11904
1           Khujand   4056
2          Dushanbe   4055
3             Gharm   4044
4      Kurgan-Tyube   4043

In [148]:
markets_all_country.max() # max instance for every col ## doesn't add much

MARKET_SHOPS    m. Kyiv
COUNT             11904
dtype: object

In [149]:
#brand with more stores
markets_all_country.loc[markets_all_country['COUNT'] == markets_all_country['COUNT'].max()]

       MARKET_SHOPS  COUNT
0  National Average  11904

In [150]:
markets_all_country['COUNT'].min()

3

In [151]:
#min
min_shops_per_brand = markets_all_country.loc[markets_all_country['COUNT'] == markets_all_country['COUNT'].min()]
min_shops_per_brand.head()

     MARKET_SHOPS  COUNT
1446       Taboye      3
1447     Tessalit      3
1448      Bancoma      3

In [164]:
#markt_shops per country
x = gfp.groupby(by='MARKET_SHOPS')['COUNTRY_NAME'].nunique()
x = x.to_frame()
x.reset_index(inplace=True)
x.sort_values(['COUNTRY_NAME'], ascending=False, inplace=True)
x.reset_index(drop=True, inplace=True)
x.head()

ValueError: cannot insert COUNTRY_NAME, already exists

In [166]:
x = gfp.groupby(by='MARKET_SHOPS')['COUNTRY_NAME'].value_counts()
x.head()

MARKET_SHOPS  COUNTRY_NAME
Aba           Nigeria         172
Abaala        Ethiopia         14
Abala         Niger           284
Abalak        Niger           449
Abeche        Chad            347
Name: COUNTRY_NAME, dtype: int64